<% if (title) { %>
<h1 class="header"><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<div class="account">
  <form action="" class="account__form">

    <div>
      <label for="" class="account__label">Email:</label>
      <input type="text" name="" id="" class="account__input">
    </div>
    
    <div>
      <label for="" class="account__label">Password:</label>
      <input type="text" name="" id="" class="account__input">
    </div>

    <button type="submit" class="account__submit">LOGIN</button>
  </form>
  <p class="account__create-account">No account? <a href="/account/register">Sign-up</a></p>
</div>