<header id="top-header" class="header">
  <span class="siteName">
    <a href="/" title="Return to home page" class="header__name header__link">CSE Motors</a>
  </span>
  <div id="tools">
    <a title="Click to log in" href="/account/login" class="header__account header__link">My Account</a>
  </div>
</header>