<h1 class="hero__title">Welcome to CSE Motors!</h1>

<section class="hero">
  <img class="hero__image" src="/images/vehicles/delorean.jpg" alt="Hero image of DMC Delorean">
  <div class="hero__content">
    <div class="hero__details">
      <p class="hero__car">DMC Delorean</p>
      <p class="hero__feature">3 Cup holders</p>
      <p class="hero__feature">Superman doors</p>
      <p class="hero__feature">Fuzzy dice!</p>
      <a href="#" class="hero__button">Own Today</a>
    </div>
  </div>
</section>

<section class="reviews">
  <h2>DMC Delorean Reviews</h2>
  <ul class="reviews__list">
    <li>"So fast it's almost like traveling in time." (4/5)</li>
    <li>"Coolest ride on the road." (4/5)</li>
    <li>"I'm feeling McFly!" (5/5)</li>
    <li>"The most futuristic ride of our day." (4.5/5)</li>
    <li>"80's livin and I love it!" (5/5)</li>
  </ul>
</section>

<section class="upgrades">
  <h2>Delorean Upgrades</h2>
  <div class="upgrades__grid">

    <div class="upgrades__part">
      <div class="upgrades__container">
        <img class="upgrades__image" src="/images/upgrades/flux-cap.png" alt="Image of upgrade part">
      </div>
      <a href="#" class="upgrades__link">Flux Capacitor</a>
    </div>

    <div class="upgrades__part">
      <div class="upgrades__container">
        <img class="upgrades__image" src="/images/upgrades/flame.jpg" alt="Image of upgrade part">
      </div>
      <a href="#" class="upgrades__link">Flame Decals</a>
    </div>

    <div class="upgrades__part">
      <div class="upgrades__container">
        <img class="upgrades__image" src="/images/upgrades/bumper_sticker.jpg" alt="Image of upgrade part">
      </div>
      <a href="#" class="upgrades__link">Bumper Stickers</a>
    </div>

    <div class="upgrades__part">
      <div class="upgrades__container">
        <img class="upgrades__image" src="/images/upgrades/hub-cap.jpg" alt="Image of upgrade part">
      </div>
      <a href="#" class="upgrades__link">Hub Caps</a>
    </div>
    
  </div>
</section>