.account {
  background-color: rgba(55, 71, 90);
  display: flex;
  flex-direction: column;
  padding: var(--space-8);
  color: var(--color-neutral-050);
  align-items: center;
  width: 100%;
  max-width: 30rem;
  margin-inline: auto;
  border-radius: var(--radius-lg);
  gap: var(--space-2);
}

.account__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-2);
  width: 100%;
}

.account__form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--space-1);
}

.account__label {
  font-weight: 600;
}

.account__input {
  padding: var(--space-2);
  border-radius: var(--radius-md);
  border: none;
}

.account__submit {
  justify-self: center;
  padding: var(--space-2) var(--space-4);
  border-radius: var(--radius-lg);
  border: none;
}

.account__create-account, .account__create-account a {
  color: var(--color-neutral-050);
}

.notice {
  padding: 1rem;
  margin-bottom: 1rem;
  background: #ffe5e5;
  color: #900;
  border-radius: 4px;
  font-weight: 600;
}