.header {
  display: flex;
  justify-content: space-between;
  padding: var(--space-6);
  align-items: center;
  background-color: var(--color-neutral-050);
}

.header__name {
  font-size: var(--text-3xl);
  font-weight: var(--font-weight-semibold);
}

.header__link {
  text-decoration: none;
  color: var(--color-neutral-950);
}