
.hero {
  position: relative;
  height: 15rem;
}

.hero__title {
  font-size: var(--text-2xl);
  padding: var(--space-5);
  text-align: center;
}

.hero__image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.hero__content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: var(--space-5);
  width: 100%;
  height: 100%;
}

.hero__details {
  background-color: rgba(255, 255, 255, 0.9);
  width: auto;
  align-self: flex-start;
  padding: var(--space-3);
  color: var(--color-primary-500);
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

.hero__car {
  font-weight: var(--font-weight-bold);
}

.hero__feature {
  font-weight: var(--font-weight-medium);
}

.hero__button {
  text-decoration: none;
  padding: var(--space-3) var(--space-5);
  background-color: var(--color-primary-500);
  color: var(--color-neutral-950);
}

.reviews {
  padding: var(--space-3) var(--space-5) 0;
}

.reviews__list {
  padding: var(--space-5);
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.upgrades {
  padding: var(--space-3) var(--space-5) 0;
  display: flex;
  flex-direction: column;
  gap: var(--space-5);
}

.upgrades__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-3);
}

.upgrades__part {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

.upgrades__container {
  background-color: var(--color-primary-500);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-5);
  height: 5rem;
  border: solid 0.1rem var(--color-neutral-950);
}

.upgrades__image {
  width: 3rem;
}

@media (min-width: 50rem) {

  body {
    padding: var(--space-3);
  }

  .wrapper {
    border: 0.5rem solid var(--color-primary-500);
    border-radius: var(--radius-md);
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .hero__title {
    grid-column: 1 / 3;
  }

  .hero {
    grid-column: 1 / 3;
    height: 30rem;
  }

  .hero__details {
    font-size: var(--text-2xl);
  }
}