.management-links {
  margin-left: var(--space-9);
}

.type-container {
  background-color: rgba(73, 162, 207);
  max-width: 35rem;
  margin-inline: auto;
  border-radius: var(--radius-md);
  padding: var(--space-9) var(--space-4) var(--space-4);
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.type-container__form {
  border: solid 1px var(--color-neutral-200);
  padding: var(--space-4);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-4);
}

.type-container__required {
  font-style: italic;
}

.type-container__input {
  padding: var(--space-1);
  width: 60%;
}

.type-container__submit {
  font-size: var(--text-lg);
}