.carDetailsImage {
  width: 100%;
}

.details {
  display: flex;
  flex-direction: column;
  padding: var(--space-3);
  gap: var(--space-3)
}

.specs {
  display: flex;
  flex-direction: column;
}

.specs p:nth-child(odd) {
  background-color: var(--color-neutral-100);
}

.specs p {
  padding: var(--space-3);
}

.specs p span {
  font-weight: 700;
}

@media (min-width: 40rem) {
  .container-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}