.login-container {
  background-color: rgba(55, 71, 90);
  display: flex;
  flex-direction: column;
  padding: var(--space-8);
  color: var(--color-neutral-050);
  align-items: center;
  width: 100%;
  max-width: 30rem;
  margin-inline: auto;
  border-radius: var(--radius-lg);
  gap: var(--space-2);
}

.login-container__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-2);
  width: 100%;
}

.login-container__form div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-container__label {
  font-weight: 600;
}

.login-container__input {
  padding: var(--space-2);
  border-radius: var(--radius-md);
}

.login-container__submit {
  justify-self: center;
  padding: var(--space-2) var(--space-4);
  border-radius: var(--radius-lg);
}

.login-container__create-account, .login-container__create-account a {
  color: var(--color-neutral-050);
}