.navigation__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: var(--space-5);
  background-color: var(--color-neutral-800);
}

.navigation__list li a {
  text-decoration: none;
  font-weight: var(--font-weight-medium);
  color: var(--color-neutral-050);
}